@inject Microsoft.AspNetCore.Http.IHttpContextAccessor htAcs
@{
    string arrows_angle_x;
    string dnone = htAcs.HttpContext!.Request.Cookies["sidebar_dnone"] ?? string.Empty;
    if (dnone == string.Empty)
        arrows_angle_x = "bi-arrows-angle-contract";
    else
    {
        //Cookieに何か設定されていたら設定されていたら強制で"d-none"を再設定
        dnone = "d-none";
        arrows_angle_x = "bi-arrows-angle-expand";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sidebar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sidebar.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container-fluid">
        <div class="row flex-nowrap">

            <div class="col-auto bg-light">
                <div class="row">
                    <!--クリック領域の右寄せにこれ重要-->
                    <div style="text-align: right;">
                        <!-- toggler -->
                        <a onclick="((aElem) => {
                                var spanElems = document.querySelectorAll('ul.nav li.nav-item a.nav-link span');
                                spanElems.forEach(function(spanElem) {
                                    var hasDNoneClass=spanElem.classList.contains('d-none');
                                    if (hasDNoneClass) {
                                        spanElem.classList.remove('d-none');
                                    } else {
                                        spanElem.classList.add('d-none');
                                    }
                                });
                                var iElem = aElem.querySelector('i');
                                if (iElem.classList.contains('bi-arrows-angle-contract')) {
                                    iElem.classList.replace('bi-arrows-angle-contract', 'bi-arrows-angle-expand');
                                    document.cookie = 'sidebar_dnone=d-none;path=/;';
                                    console.log('set dnone=t');
                                } else if (iElem.classList.contains('bi-arrows-angle-expand')) {
                                    iElem.classList.replace('bi-arrows-angle-expand','bi-arrows-angle-contract');
                                    document.cookie = 'sidebar_dnone=;path=/;';
                                    console.log('set dnone=f');
                                }
                            })(this)">
                            <i class="fs-4 bi @arrows_angle_x"></i>
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a class="nav-link align-left px-0" asp-area="" asp-page="/Index">
                                <i class="fs-4 bi-list-task"></i>
                                <span class="@dnone" style="white-space: nowrap;">Top</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-left px-0" asp-area="" asp-page="/Home/Index">
                                <i class="fs-4 bi-house"></i>
                                <span class="@dnone" style="white-space: nowrap;">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-left px-0" asp-area="" asp-page="/Privacy/Privacy">
                                <i class="fs-4 bi-table"></i>
                                <span class="@dnone" style="white-space: nowrap;">プライバシー</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col py-3">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>

        </div>
    </div>


    @*     <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Sidebar - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ja-JP.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>